@tailwind base;
@tailwind components;
@tailwind utilities;

* { @apply font-mono; }

h1 { @apply text-4xl; }
h2 { @apply text-3xl; }
h3 { @apply text-2xl; }
h4 { @apply text-xl; }
h5 { @apply text-lg; }
h6 { @apply text-base; }

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.rainbow {
    background: linear-gradient(120deg, #fbffca, #baffbf, #a7efff, #ffabff);
    background-size: 1800% 100%;
    animation: rainbow 5s ease infinite;
}